---

//library imports 
import {Image} from "@astrojs/image/components"

//utils imports 
import {slugify,formatDate} from "../js/utils";

//component imports 

import Link from "./Link.astro";



const{frontmatter,url,tagType} = Astro.props;

const Tag=tagType;

const{title,date,author,image,description,category} = frontmatter
---


<article class="card">
        <small>
            <a href={`/category/${category}`} class="badge">{category}</a>
        </small>
        <a href={url}><Image 
        src={image.src}
        alt={image.alt}
        width="400"
        height="250"
        format="webp"
        fit="cover"
        quality={80}
        aspectRatio="4:1"
        class="hero-image"
    /></a>
    <div class="content">
        <div>

        <Tag class="h3" href={url}>{title}</Tag>
        <small>
        <p> <a href={`/author/${slugify(author)}/`}>{author}</a>  {formatDate(date)}  </p>
        </small>
        </div>
        <p>{description}</p>
        <Link href={url} text="View Package" style="secondary"/>
    </div>
    
</article>