---


// component import 
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";




import Link from "../components/Link.astro";

const {frontmatter} = Astro.props;
const{title,description,date,category,author,image} = frontmatter

---
<MainLayout title={title} {description}>
  <PostHeader {title} {description} {date} {category} {image} {author}/> 
    <div class="post-content">
        <div class="content">
            <slot/>
        </div>
    </div>
    <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    
    <Link
      href="/"
      style="secondary"
      text="Book Now /བོོོཀ་ནོཝ་ "
      icon={{
        name: "tabler:phone",
        side: "right",
      }}
    />
  </div>
    
</MainLayout>